body {
  font-size: 1.5vw;
}
#calendar {
  width: 80vw;
  height: 80vh;
  margin: auto;
}
select,
button,
input[type="date"] {
  width: 20vw;
  height: 5vh;
  font-size: 1vw;
}

/* Este media query reducirá el tamaño de los elementos select, button y input[type="date"] en pantallas de menos de 768px de ancho. */
@media (max-width: 768px) {
  body {
    font-size: 3vw;
  }
  #calendar {
    width: 90vw;
    height: 90vh;
  }
  select,
  button,
  input[type="date"] {
    width: 150px;
    height: 30px;
    font-size: 14px;
  }
}
